<div class="container mt-5" style="width: 70vh">
    <div class="row justify-content-between bg-dark text-bg-dark p-2">
        <div class="col-6">
            <h3>Feedback</h3>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <div *ngIf="me.role == 'CUSTOMER'">
                <app-feedback-form (addedFeedback)="updateFeedbacks($event)"></app-feedback-form>
            </div>
        </div>
    </div>
    <div class="modal-body mt-3">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">User</th>
                <th scope="col">Feedback</th>
                <th scope="col">Upload time</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let feedback of feedbacks;">
                <td>
                    <div *ngFor = "let user of feedback.userFeedbackDTOs">
                        <div *ngIf="user.role == 'CUSTOMER'">
                            {{user.name}}
                        </div>
                    </div>
                </td>
                <td>{{feedback.text}}</td>
                <td>{{feedback.createdTime | date: 'dd-MM-yyyy'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

