<app-user-navbar></app-user-navbar>
<div class="row w-100">
    <!-- <div class="col-4 mt-5 d-flex align-items-center flex-column"> -->
    <div class="col-4 mt-5">
        <div style="margin-left: 4vh">
            <h1>Hello {{user.name}} {{user.surname}}</h1>
                <div class="d-flex align-items-center">
                    <h3 style="margin-right: 2vh;">Privacy</h3>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" [checked]="privacy" (click)="updatePrivacy()" >
                    </div>
                </div>
            <h6>Pt can view your personal data</h6>
        </div>
    </div>
    <div class="col-2"></div>
    <div class="col-6 mt-5">
        <app-table-body-details></app-table-body-details>
    </div>
</div>
